<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonkeyTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MonkeyTest.Properties.Settings>
            <setting name="xMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DownTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </MonkeyTest.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="xMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>